<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/vandor/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center; padding-top: 14%;" >
        <h2>Opps..</h2>
        <h1>Some Error occurred 1</h1>
        <h1>we're working on fixing , Sorry for the inconvenience!</h1>

    </div>
</body>
</html>