
    
    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    <script src="frontend/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="frontend/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="frontend/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="frontend/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="frontend/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="frontend/dist/js/feather.min.js"></script>

    <!-- Toggles JavaScript -->
    <script src="frontend/vendors/jquery-toggles/toggles.min.js"></script>
    <script src="frontend/dist/js/toggle-data.js"></script>
	
	<!-- Morris Charts JavaScript -->
    <script src="frontend/vendors/raphael/raphael.min.js"></script>
    <script src="frontend/vendors/morris.js/morris.min.js"></script>
	
	<!-- Counter Animation JavaScript -->
	<script src="frontend/vendors/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="frontend/vendors/jquery.counterup/jquery.counterup.min.js"></script>
	
	<!-- EChartJS JavaScript -->
    <script src="frontend/vendors/echarts/dist/echarts-en.min.js"></script>
    
	<!-- Sparkline JavaScript -->
    <script src="frontend/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
	
	<!-- Vector Maps JavaScript -->
    <script src="frontend/vendors/vectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="frontend/vendors/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="frontend/dist/js/vectormap-data.js"></script>

	<!-- Owl JavaScript -->
    <script src="frontend/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Toastr JS -->
    <script src="frontend/vendors/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    
    <!-- Init JavaScript -->
    <script src="frontend/dist/js/init.js"></script>
	<script src="frontend/dist/js/dashboard-data.js"></script>
	
</body>

</html>