<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/index">
      <div class="sidebar-brand-icon">
        <img src="/img/dh.png">
      
      </div>

    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <a class="nav-link" href="/admin/index">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Features
    </div>
   
    
   
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrapa"
        aria-expanded="true" aria-controls="collapseBootstrapa">
        <i class="fa fa-th-large"></i>
        <span>Create Admin </span>
      </a>
      <div id="collapseBootstrapa" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Create Admin Access</h6>
          <a class="collapse-item" href="/admin/add-admin">Add New</a>
      
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrapaa"
        aria-expanded="true" aria-controls="collapseBootstrapaa">
        <i class="fa fa-th-large"></i>
        <span>Chat</span>
      </a>
      <div id="collapseBootstrapaa" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Chat with user</h6>
          <a class="collapse-item" href="/admin/chat">chat</a>
      
        </div>
      </div>
    </li>
 
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
    
    </div>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrapd"
        aria-expanded="true" aria-controls="collapseBootstrapd">
        <i class="fa fa-users"></i>
        <span>User</span>
      </a>
      <div id="collapseBootstrapd" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">User Information</h6>
          <!-- <a class="collapse-item" href="/admin/add-newuser">Add New User</a> -->
          <a class="collapse-item" href="/admin/alluser">all User</a>
        </div>
      </div>
    </li>
 
    <hr class="sidebar-divider">

  </ul>